In [79]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [80]:
class DataPrepKit:
    def __init__(self):
        self.df = None
        
    def Read_Data(self, path):
        if path[-3: ] == 'csv': # check the last 3 characters of the string (The Extension of the path)
            self.df = pd.read_csv(path) # Read the file upon the raw path
            return self.df # return the data set
        elif path[-4: ] == 'xlsx':
            self.df = pd.read_excel(path)
            return(self.df)
        elif path[-3: ] == 'xml':
            self.df = pd.read_xml(path)
            return(self.df)
        elif path[-4: ] == 'json':
            self.df= pd.read_json(path)
            return(self.df)
        elif path[-4: ] == "html":
            self.df = pd.read_html(path)
            return self.df
            
    def Data_Summary(self):
        if self.df is None:
            print("No data has been read yet.")
            return
        else:
            print("The Shape of The Dataset[number of rows, number of columns]")
            print(self.df.shape)
            print("The info of the Dataframe: \n")
            print(self.df.info(),"\n")
            print("The describe [count, mean,std, min, q1, q2, q3, max ] of the numerical Dataframe: \n")
            print(self.df.describe(), "\n")
            datalabels = self.df.columns
            print("The Value Counts of eachh Column of the DataFrame: ")
            for i in range(len(datalabels)):
                print(self.df[datalabels[i]].value_counts(),"\n")
                
    def Handling_UnWanted_Columns(self, ListOfUnWantedColumns):
        for i in range(len(ListOfUnWantedColumns)):
            self.df.drop(ListOfUnWantedColumns[i], axis = 1, inplace = True)
        print("The Columns are Dropped: {}".format(ListOfUnWantedColumns[:]))
        return self.df
        
    def Show_Missing_Values(self):
        datalabels = self.df.columns
        lst_labels = list(datalabels.values.tolist())
        print("Missing Values Counts number of each Column of the DataFrame: ")
        for i in range(len(datalabels)):
            print("{0}: {1} {2}".format(lst_labels[i],self.df[datalabels[i]].isna().sum(), "Nan Value"))
            
    def Handling_Missing_Values(self, Columns, Method):            
        if "remove" in Method.lower():
            for i in range(len(Columns)):
                self.df = self.df.dropna(subset = [Columns[i]])
                self.df = self.df.reset_index()
        elif "median" in Method.lower():
            for i in range(len(Columns)):
                median_value = self.df[Columns[i]].median()
                self.df[Columns[i]].fillna(median_value, inplace = True)
        elif "mod" in Method.lower():
            for i in range(len(Columns)):
                self.df[Columns[i]].fillna(self.df[Columns[i]].value_counts().index[0], inplace = True)
        elif "mean" in Method.lower():
            for i in range(len(Columns)):
                mean_value = self.df[Columns[i]].mean()
                self.df[Columns[i]].fillna(mean_value, inplace = True)
        return self.df
        
    def Categorical_Data_Encoding(self, Columns, Method):
        if "one hot" in Method.lower():
            for i in range(len(Columns)):
                one_hot = pd.get_dummies(self.df[Columns[i]])
                self.df = pd.concat([self.df, one_hot], axis=1)
                self.df = self.df.drop(Columns[i], axis=1)
        elif "label" in Method.lower():
            for i in range(len(Columns)):
                le = LabelEncoder()
                self.df["new"+Columns[i]] = le.fit_transform(self.df[Columns[i]])
                self.df = self.df.drop(Columns[i], axis=1)
        elif "binary" in Method.lower():
            for i in range(len(Columns)):
                if len(self.df[Columns[i]].unique()) > 2:
                    print("The values of This feature is more than 2 can't make binary encoding")
                else:
                    self.df["binary "+Columns[i]] = self.df[Columns[i]].map({self.df[Columns[i]].unique()[0] : 1, self.df[Columns[i]].unique()[1] : 0})
                    self.df = self.df.drop(Columns[i], axis=1)
        return self.df

In [81]:
User_Path =r"D:\Materials\Materials  o6u\LEVEL 3 AI Specialization\Semester 2\Programming For AI\Assignments\Questions\Assignment 1\corona - corona.csv" # the path
data_prep = DataPrepKit() #taking object
data_prep.Read_Data(User_Path)

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,...,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,...,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1081,2.0,2/25/2020,NaN,"new COVID-19 patient confirmed in Austria: 24,...",Innsbruck,Austria,NaN,24.0,NaN,...,NaN,NaN,NaN,0,0.0,0,0,NaN,Jakarta Post,https://www.thejakartapost.com/news/2020/02/25...
1081,1082,1.0,2/24/2020,NaN,new COVID-19 patient confirmed in Afghanistan:...,Afghanistan,Afghanistan,NaN,35.0,NaN,...,NaN,NaN,NaN,0,0.0,0,0,NaN,Fox News,https://www.foxnews.com/health/afghanistan-fir...
1082,1083,1.0,2/26/2020,NaN,new COVID-19 patient confirmed in Algeria: mal...,Algeria,Algeria,male,NaN,NaN,...,NaN,NaN,2/17/2020,0,0.0,0,0,NaN,South China Morning Post,https://www.scmp.com/news/china/society/articl...
1083,1084,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Croatia: mal...,Croatia,Croatia,male,NaN,NaN,...,NaN,2/19/2020,2/21/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/us-croatia-cor...
1084,1085,1.0,2/25/2020,NaN,new COVID-19 patient confirmed in Switzerland:...,Bern,Switzerland,male,70.0,2/17/2020,...,NaN,2/15/2020,2/15/2020,0,0.0,0,0,NaN,Reuters,https://www.reuters.com/article/uk-switzerland...

In [82]:
data_prep.Data_Summary() # shows the summary of the data

The Shape of The Dataset[number of rows, number of columns]
(1085, 21)
The info of the Dataframe:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1085 non-null   int64
 1   case_in_country        888 non-null    float64
 2   reporting date         1084 non-null   object
 3   Unnamed: 3             0 non-null      float64
 4   summary                1080 non-null   object
 5   location               1085 non-null   object
 6   country                1085 non-null   object
 7   gender                 902 non-null    object
 8   age                    843 non-null    float64
 9   symptom_onset          563 non-null    object
 10  If_onset_approximated  560 non-null    float64
 11  hosp_visit_date        507 non-null    object
 12  exposure_start         128 non-null    object
 13  exposure_end           341 non-null    object
 14  visiting Wuhan         1085 non-null   int64
 15  from Wuhan             1081 non-null   float64
 16  death                  1085 non-null   object
 17  recovered              1085 non-null   object
 18  symptom                270 non-null    object
 19  source                 1085 non-null   object
 20  link                   1085 non-null   object
dtypes: float64(5), int64(2), object(14)
memory usage: 178.1+ KB
None

The describe [count, mean,std, min, q1, q2, q3, max ] of the numerical Dataframe:

                id  case_in_country  Unnamed: 3         age  \
count  1085.000000       888.000000         0.0  843.000000
mean    543.000000        48.841216         NaN   49.483689
std     313.356825        78.853528         NaN   18.255334
min       1.000000         1.000000         NaN    0.250000
25%     272.000000        11.000000         NaN   35.000000
50%     543.000000        28.000000         NaN   51.000000
75%     814.000000        67.250000         NaN   64.000000
max    1085.000000      1443.000000         NaN   96.000000

       If_onset_approximated  visiting Wuhan   from Wuhan
count             560.000000     1085.000000  1081.000000
mean                0.042857        0.176959     0.144311
std                 0.202716        0.381810     0.351567
min                 0.000000        0.000000     0.000000
25%                 0.000000        0.000000     0.000000
50%                 0.000000        0.000000     0.000000
75%                 0.000000        0.000000     0.000000
max                 1.000000        1.000000     1.000000

The Value Counts of eachh Column of the DataFrame:
id
1       1
730     1
716     1
717     1
718     1
       ..
368     1
369     1
370     1
371     1
1085    1
Name: count, Length: 1085, dtype: int64

case_in_country
1.0       37
2.0       24
3.0       22
4.0       19
5.0       19
          ..
133.0      1
132.0      1
131.0      1
130.0      1
1443.0     1
Name: count, Length: 197, dtype: int64

reporting date
2/27/2020    91
2/20/2020    73
1/22/2020    61
2/26/2020    54
1/25/2020    52
2/25/2020    46
2/19/2020    42
1/24/2020    41
2/21/2020    35
2/24/2020    33
2/22/2020    31
1/31/2020    28
1/27/2020    28
02/08/20     26
2/23/2020    26
2/28/2020    25
02/04/20     24
02/06/20     24
1/26/2020    24
1/23/2020    24
1/30/2020    23
02/05/20     22
2/14/2020    21
1/29/2020    20
02/10/20     19
02/09/20     19
2/13/2020    18
1/21/2020    18
1/28/2020    18
2/16/2020    16
2/17/2020    14
2/18/2020    13
02/11/20     13
2/15/2020    13
02/01/20     12
02/02/20     10
02/07/20      8
02/03/20      7
02/12/20      6
1/20/2020     3
1/15/2020     1
1/13/2020     1
1/17/2020     1
Name: count, dtype: int64

Series([], Name: count, dtype: int64)

summary
new confirmed COVID-19 patient in South Korea:                                                                                                                                                                                   22
new confirmed COVID-19 patient in Germany: NRW                                                                                                                                                                                   14
new confirmed COVID-19 patient in Iran: Qom                                                                                                                                                                                       9
new confirmed COVID-19 patient in Kuwait: returned from Iran                                                                                                                                                                      8
new confirmed COVID-19 patient in Thailand: Chinese national                                                                                                                                                                      5
                                                                                                                                                                                                                                 ..
new confirmed COVID-19 patient in Japan: male, 50s, lives in Sagamihara City, symptom onset 2/16 (fever), visited doctor 2/17 for fever and headache, fever 2/18, returned 2/19, visited another doctor 2/21 and hospitalized     1
new confirmed COVID-19 patient in Japan: male, 50s, Hokkaido, symptom onset 2/17 (fever, difficulty breathing), went to doctor 2/18 and 2/19, fever 2/21 so visited second doctor, third doctor 2/21                              1
new confirmed COVID-19 patient in Japan: male, 70s, Sapporo City                                                                                                                                                                  1
new confirmed COVID-19 patient in Japan: female, 70s, symptom onset 2/22 (fever), visited doctor 2/22, Nagoya City                                                                                                                1
new COVID-19 patient confirmed in Switzerland: male, 70, infected in Milan during an event 2/15, symptom onset 2/17                                                                                                               1
Name: count, Length: 967, dtype: int64

location
South Korea          112
Singapore             93
Hong Kong             80
Hokkaido              48
Thailand              41
                    ...
Arizona                1
Kathmandu              1
Langkawi               1
Nagano Prefecture      1
Bern                   1
Name: count, Length: 156, dtype: int64

country
China          197
Japan          190
South Korea    114
Hong Kong       94
Singapore       93
Germany         54
Thailand        41
France          39
Taiwan          34
Spain           34
Malaysia        23
UAE             21
UK              20
Iran            18
USA             18
Bahrain         17
Vietnam         16
Australia       15
Canada          12
Kuwait           9
Italy            3
India            3
Phillipines      3
Austria          2
Russia           2
Sweden           1
Belgium          1
Egypt            1
Finland          1
Israel           1
Lebanon          1
Sri Lanka        1
Cambodia         1
Nepal            1
Afghanistan      1
Algeria          1
Croatia          1
Switzerland      1
Name: count, dtype: int64

gender
male      520
female    382
Name: count, dtype: int64

age
55.0    72
65.0    52
45.0    39
75.0    37
35.0    36
        ..
6.0      1
1.0      1
0.5      1
87.0     1
96.0     1
Name: count, Length: 85, dtype: int64

symptom_onset
1/23/2020     27
1/25/2020     22
1/24/2020     21
1/30/2020     19
02/03/20      18
              ..
12/29/2019     1
12/23/2019     1
01/20/2020     1
01/17/2020     1
12/22/2019     1
Name: count, Length: 70, dtype: int64

If_onset_approximated
0.0    536
1.0     24
Name: count, dtype: int64

hosp_visit_date
1/23/2020     34
1/24/2020     30
1/21/2020     20
2/17/2020     20
1/20/2020     19
1/25/2020     18
02/03/20      17
1/22/2020     16
1/30/2020     15
1/19/2020     15
02/10/20      15
2/25/2020     14
2/24/2020     13
2/21/2020     12
2/22/2020     12
02/01/20      12
02/07/20      11
1/28/2020     10
02/04/20      10
1/17/2020     10
2/18/2020      9
02/06/20       8
1/29/2020      8
2/26/2020      8
1/31/2020      8
1/26/2020      8
2/19/2020      8
02/12/20       8
1/13/2020      8
02/02/20       8
02/09/20       7
1/27/2020      7
2/13/2020      7
02/05/20       6
2/20/2020      6
2/23/2020      6
02/11/20       5
2/15/2020      5
01/11/20       5
2/14/2020      5
02/08/20       5
1/15/2020      5
1/18/2020      5
2/16/2020      4
1/14/2020      4
1/16/2020      3
01/09/20       3
01/06/20       2
2/27/2020      2
01/01/20       1
01/05/20       1
2//2020        1
01/12/20       1
12/31/2019     1
01/10/20       1
01/03/20       1
12/27/2019     1
01/08/20       1
2/22/20        1
2/28/2020      1
Name: count, dtype: int64

exposure_start
1/26/2020     14
1/24/2020     12
1/20/2020      8
1/25/2020      7
1/23/2020      6
1/22/2020      6
01/12/20       6
2/19/2020      5
01/10/20       5
01/11/20       5
1/19/2020      5
1/13/2020      4
1/18/2020      4
2/15/2020      3
1/21/2020      3
1/15/2020      3
01/09/20       3
01/08/20       3
1/27/2020      2
01/13/2020     2
1/17/2020      2
02/12/20       2
01/03/20       2
1/30/2020      1
1/28/2020      1
2/17/2020      1
02/11/20       1
02/04/20       1
2/21/2020      1
12/29/2019     1
1/16/2020      1
2/20/2020      1
02/10/20       1
01/19/2020     1
1/14/2020      1
01/06/20       1
12/17/2019     1
12/20/2019     1
12/24/2019     1
Name: count, dtype: int64

exposure_end
1/22/2020     34
1/23/2020     27
1/20/2020     26
1/21/2020     25
1/19/2020     19
1/18/2020     16
1/17/2020     15
1/28/2020     15
1/26/2020     14
1/15/2020     12
1/16/2020     10
1/30/2020     10
2/21/2020      9
1/31/2020      8
1/13/2020      8
1/24/2020      6
01/12/20       6
02/04/20       5
1/14/2020      5
1/25/2020      4
2/22/2020      4
02/02/20       4
1/27/2020      4
01/11/20       4
01/10/20       3
02/03/20       3
02/07/20       3
2/15/2020      3
2/20/2020      3
2/19/2020      3
02/01/20       3
01/08/20       3
02/09/20       2
2/23/2020      2
01/04/20       2
2/17/2020      2
2/18/2020      2
1/29/2020      2
01/18/2020     2
2/24/2020      1
01/02/20       1
01/03/20       1
02/08/20       1
02/05/20       1
01/09/20       1
01/05/20       1
01/07/20       1
2/16/2020      1
2/13/2020      1
01/22/2020     1
01/06/20       1
2/25/2020      1
Name: count, dtype: int64

visiting Wuhan
0    893
1    192
Name: count, dtype: int64

from Wuhan
0.0    925
1.0    156
Name: count, dtype: int64

death
0            1022
1              42
2/23/2020       4
2/26/2020       3
2/27/2020       2
2/25/2020       2
2/19/2020       2
2/21/2020       2
2/14/2020       1
2/13/2020       1
2/28/2020       1
2/24/2020       1
2/22/2020       1
02/01/20        1
Name: count, dtype: int64

recovered
0             926
2/18/2020      13
2/19/2020      13
12/30/1899     12
02/12/20       11
2/21/2020      10
2/20/2020       9
2/15/2020       9
2/14/2020       8
2/24/2020       7
2/17/2020       7
1               7
2/26/2020       6
02/09/20        6
2/25/2020       5
2/27/2020       5
02/04/20        4
02/06/20        4
02/11/20        3
2/22/2020       3
2/16/2020       3
02/05/20        2
1/30/2020       2
02/08/20        2
2/28/2020       1
2/13/2020       1
02/02/20        1
1/17/2020       1
2/23/2020       1
02/07/20        1
1/15/2020       1
1/31/2020       1
Name: count, dtype: int64

symptom
fever                          73
fever, cough                   36
cough                          14
fever, malaise                  7
fever, sore throat              6
                               ..
sore throat, cough, fever       1
fever, sore throat, malaise     1
fatigue, malaise, headache      1
difficulty breathing            1
cough with sputum               1
Name: count, Length: 108, dtype: int64

source
Ministry of Health                                        179
央视新闻                                                      133
KCDC                                                      103
Ministry of Health Singapore                               67
Government HK                                              60
                                                         ...
Official Weibo of Shanghai Municipal Health Commission      1
Vietnam Insider                                             1
SBS                                                         1
Channel 3000                                                1
NYT                                                         1
Name: count, Length: 85, dtype: int64

link
https://www.mhlw.go.jp/stf/houdou/houdou_list_202002.html                                                                          88
https://www.mhlw.go.jp/stf/newpage_09713.html                                                                                      48
https://www.moh.gov.sg/news-highlights/details/two-more-cases-discharged-two-new-cases-of-novel-coronavirus-infection-confirmed    22
https://www.mhlw.go.jp/stf/newpage_09652.html                                                                                      22
http://www.nhc.gov.cn/yjb/s3578/202001/5d19a4f6d3154b9fae328918ed2e3c8a.shtml                                                      17
                                                                                                                                   ..
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=24                                1
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=23                                1
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=22                                1
https://www.cdc.go.kr/board/board.es?mid=a30402000000&bid=0030&act=view&list_no=366261&tag=&nPage=21                                1
https://www.reuters.com/article/uk-switzerland-coronavirus/swiss-authorities-confirm-first-case-of-coronavirus-idUSKBN20J1ZO        1
Name: count, Length: 490, dtype: int64

In [83]:
ListOfUnWantedColumns = ["id", "reporting date", "Unnamed: 3", "summary", "symptom_onset", "hosp_visit_date", "exposure_start", "exposure_end", "source", "link", "If_onset_approximated"] #Here You write the columns you want to delete from the dataframe
data_prep.Handling_UnWanted_Columns(ListOfUnWantedColumns) #drop unwnated columns

The Columns are Dropped: ['id', 'reporting date', 'Unnamed: 3', 'summary', 'symptom_onset', 'hosp_visit_date', 'exposure_start', 'exposure_end', 'source', 'link', 'If_onset_approximated']

,case_in_country,location,country,gender,age,visiting Wuhan,from Wuhan,death,recovered,symptom
0,NaN,"Shenzhen, Guangdong",China,male,66.0,1,0.0,0,0,NaN
1,NaN,Shanghai,China,female,56.0,0,1.0,0,0,NaN
2,NaN,Zhejiang,China,male,46.0,0,1.0,0,0,NaN
3,NaN,Tianjin,China,female,60.0,1,0.0,0,0,NaN
4,NaN,Tianjin,China,male,58.0,0,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...
1080,2.0,Innsbruck,Austria,NaN,24.0,0,0.0,0,0,NaN
1081,1.0,Afghanistan,Afghanistan,NaN,35.0,0,0.0,0,0,NaN
1082,1.0,Algeria,Algeria,male,NaN,0,0.0,0,0,NaN
1083,1.0,Croatia,Croatia,male,NaN,0,0.0,0,0,NaN
1084,1.0,Bern,Switzerland,male,70.0,0,0.0,0,0,NaN

In [84]:
data_prep.Show_Missing_Values() # show the missing values of all columns

Missing Values Counts number of each Column of the DataFrame:
case_in_country: 197 Nan Value
location: 0 Nan Value
country: 0 Nan Value
gender: 183 Nan Value
age: 242 Nan Value
visiting Wuhan: 0 Nan Value
from Wuhan: 4 Nan Value
death: 0 Nan Value
recovered: 0 Nan Value
symptom: 815 Nan Value

In [85]:
Columns = ["from Wuhan", "case_in_country"] # the coulmns you want to do the method on it the methods are [Remove, Median, Mean, Mod]
Method = "Remove Null"  #Choose one method you want at a time you must at least type one word of Remove, median, mean or mod as  sting in Method variable
data_prep.Handling_Missing_Values(Columns, Method)

,level_0,index,case_in_country,location,country,gender,age,visiting Wuhan,from Wuhan,death,recovered,symptom
0,193,197,1.0,Bordeaux,France,male,48.0,1,0.0,0,0,NaN
1,194,198,2.0,Paris,France,male,31.0,0,1.0,0,02/12/20,NaN
2,195,199,3.0,Paris,France,female,30.0,0,1.0,0,02/12/20,NaN
3,196,200,4.0,Paris,France,male,80.0,0,1.0,2/14/2020,0,NaN
4,197,201,5.0,Paris,France,female,NaN,1,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883,1076,1080,2.0,Innsbruck,Austria,NaN,24.0,0,0.0,0,0,NaN
884,1077,1081,1.0,Afghanistan,Afghanistan,NaN,35.0,0,0.0,0,0,NaN
885,1078,1082,1.0,Algeria,Algeria,male,NaN,0,0.0,0,0,NaN
886,1079,1083,1.0,Croatia,Croatia,male,NaN,0,0.0,0,0,NaN
887,1080,1084,1.0,Bern,Switzerland,male,70.0,0,0.0,0,0,NaN

In [86]:
data_prep.Show_Missing_Values() # show the missing values of all columns

Missing Values Counts number of each Column of the DataFrame:
level_0: 0 Nan Value
index: 0 Nan Value
case_in_country: 0 Nan Value
location: 0 Nan Value
country: 0 Nan Value
gender: 183 Nan Value
age: 235 Nan Value
visiting Wuhan: 0 Nan Value
from Wuhan: 0 Nan Value
death: 0 Nan Value
recovered: 0 Nan Value
symptom: 621 Nan Value

In [87]:
Columns = ["gender"] # the coulmns you want to do the method on it the methods are [Remove, Median, Mean]
Method = "mod"  #Choose one method you want at a time you must at least type one word of Remove, median or mean as  sting in Method variable
data_prep.Handling_Missing_Values(Columns, Method)

,level_0,index,case_in_country,location,country,gender,age,visiting Wuhan,from Wuhan,death,recovered,symptom
0,193,197,1.0,Bordeaux,France,male,48.0,1,0.0,0,0,NaN
1,194,198,2.0,Paris,France,male,31.0,0,1.0,0,02/12/20,NaN
2,195,199,3.0,Paris,France,female,30.0,0,1.0,0,02/12/20,NaN
3,196,200,4.0,Paris,France,male,80.0,0,1.0,2/14/2020,0,NaN
4,197,201,5.0,Paris,France,female,NaN,1,0.0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883,1076,1080,2.0,Innsbruck,Austria,male,24.0,0,0.0,0,0,NaN
884,1077,1081,1.0,Afghanistan,Afghanistan,male,35.0,0,0.0,0,0,NaN
885,1078,1082,1.0,Algeria,Algeria,male,NaN,0,0.0,0,0,NaN
886,1079,1083,1.0,Croatia,Croatia,male,NaN,0,0.0,0,0,NaN
887,1080,1084,1.0,Bern,Switzerland,male,70.0,0,0.0,0,0,NaN

In [88]:
Columns = ["location","country"]# the coulmns you want to do the method on it the methods are [one hot encoding, label encoding, binary encoding]
Method = "label encoding"
#Choose one method you want at a time you must at least type one word of one hot, label or binary as  sting in Method variable
data_prep.Categorical_Data_Encoding(Columns, Method)

,level_0,index,case_in_country,gender,age,visiting Wuhan,from Wuhan,death,recovered,symptom,newlocation,newcountry
0,193,197,1.0,male,48.0,1,0.0,0,0,NaN,16,11
1,194,198,2.0,male,31.0,0,1.0,0,02/12/20,NaN,80,11
2,195,199,3.0,female,30.0,0,1.0,0,02/12/20,NaN,80,11
3,196,200,4.0,male,80.0,0,1.0,2/14/2020,0,NaN,80,11
4,197,201,5.0,female,NaN,1,0.0,0,0,NaN,80,11
...,...,...,...,...,...,...,...,...,...,...,...,...
883,1076,1080,2.0,male,24.0,0,0.0,0,0,NaN,40,3
884,1077,1081,1.0,male,35.0,0,0.0,0,0,NaN,0,0
885,1078,1082,1.0,male,NaN,0,0.0,0,0,NaN,3,1
886,1079,1083,1.0,male,NaN,0,0.0,0,0,NaN,23,8
887,1080,1084,1.0,male,70.0,0,0.0,0,0,NaN,14,30

In [89]:
Columns = ["gender"]# the coulmns you want to do the method on it the methods are [one hot encoding, label encoding, binary encoding]
Method = "binary encoding"
#Choose one method you want at a time you must at least type one word of one hot, label or binary as  sting in Method variable
data_prep.Categorical_Data_Encoding(Columns, Method)

,level_0,index,case_in_country,age,visiting Wuhan,from Wuhan,death,recovered,symptom,newlocation,newcountry,binary gender
0,193,197,1.0,48.0,1,0.0,0,0,NaN,16,11,1
1,194,198,2.0,31.0,0,1.0,0,02/12/20,NaN,80,11,1
2,195,199,3.0,30.0,0,1.0,0,02/12/20,NaN,80,11,0
3,196,200,4.0,80.0,0,1.0,2/14/2020,0,NaN,80,11,1
4,197,201,5.0,NaN,1,0.0,0,0,NaN,80,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...
883,1076,1080,2.0,24.0,0,0.0,0,0,NaN,40,3,1
884,1077,1081,1.0,35.0,0,0.0,0,0,NaN,0,0,1
885,1078,1082,1.0,NaN,0,0.0,0,0,NaN,3,1,1
886,1079,1083,1.0,NaN,0,0.0,0,0,NaN,23,8,1
887,1080,1084,1.0,70.0,0,0.0,0,0,NaN,14,30,1